.MatrixRow {
  color: tomato;
}

.MatrixRow span,
.MatrixRow p {
  padding: 1rem 1rem;
  pointer-events: none;
}

.MatrixRow {
  position: relative;
  border: 1px solid transparent;
  top: 0;
  transition: border 0.25s, color 0.25s;
}
.selected {
  color: aqua;
  border: 1px solid aqua;
}

.moving {
  transition: top 0.25s, border 0.25s, color 0.25s;

  /* transition: top 0.25s, border 0.25s, color 0.25s; */
}
