.MatrixRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.75rem;
  margin: 1rem 0;
  /* background-color: #00bcd4; */
  /* justify-content: center; */
  /* justify-items: space-between; */
  position: relative;
  border: 1px solid transparent;
  /* top: 0; */
  transition: top 0.25s, border 0.25s, color 0.25s;
}

.selectedA {
  color: var(--orange);
  border: 1px solid var(--orange);
}

.selectedB {
  color: #00bcd4;
  border: 1px solid #00bcd4;
}

.swap {
  transition: top 0.25s, border 0.25s, color 0.25s;
  /* color: red; */
  /* top: 0px; */
  /* transition: top 0.25s, border 0.25s, color 0.25s; */
}
.swapback {
  transition: top 0.25s, border 0.25s, color 0.25s;
  /* color: red; */
  top: 0px;
  /* transition: top 0.25s, border 0.25s, color 0.25s; */
}
