.ToolBox {
  padding-left: 2rem;
  padding-right: 2rem;
  /* width: 100%; */
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  justify-content: center;
  box-sizing: border-box;
}
