:root {
  --black: #0e1016;
  --green: rgb(118, 215, 49);
  --blue: rgb(40, 119, 216);
  --blue200: rgb(19, 76, 146);
  --white: #efefef;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center stretch;
}
header {
  height: 8vh;
  display: flex;
  justify-content: center;
}
main {
  height: 100vh;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question {
  position: absolute;
  top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.prompt {
  position: relative;
  top: 2rem;
}
header h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1rem;
}
.Window {
  background-color: var(--black);
}

button {
  background-color: var(--blue);
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0.15rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}
button:active {
  background-color: var(--blue200);
}
