.App {
  /* padding: 1rem; */
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* margin: 0; */
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center stretch;
  /* justify-items: center; */
  /* justify-content: center; */
}
header {
  height: 8vh;
  display: flex;
  justify-content: center;
}
main {
  /* height: 92vh; */
  height: 100vh;
  /* overflow-y: hidden; */
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question {
  position: absolute;
  top: 1rem;
}
.prompt {
  position: relative;
  top: 2rem;
}
header h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1rem;
}
.Window {
  background-color: #17191d;
}
