:root {
  --black: #0e1016;
  --green: #8bc34a;
  --yellow: #ffeb3b;
  --orange: #ffc107;
  --blue: #03a9f4;
  --blue200: #1e88e5;
  --white: #efefef;
  --gray: #607d8b;
  --gray900: #263238;
}
body {
  background-color: var(--black);
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center stretch;
}
header {
  /* height: 10vh; */
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--blue);
  box-sizing: border-box;
}
main {
  min-height: calc(100vh - 3rem);
  /* min-height: 90vh; */
  padding: 0rem;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}
main p {
  /* font-size: 1rem; */
}

.lesson {
  padding: 0.5rem 0.5rem;
  text-align: left;
  position: relative;
}

.question {
  position: absolute;
  top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.prompt {
  position: relative;
  top: 2rem;
}
header h1,
header h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1rem;
}
.Window {
  background-color: var(--black);
}

button {
  background-color: var(--blue);
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0.15rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
button:active {
  background-color: var(--blue200);
}
