/*Created by bash script*/
.LinkList {
  /* background-color: tomato; */
  /* padding: 1rem; */
  /* border-radius: 1rem; */
  /* border: 1px solid tomato; */
  list-style: none;
  padding-left: 0rem;
}

a {
  padding: 1rem;
  text-align: left;
  /* border: 1px solid tomato; */
  border-radius: 0;
}

.LinkList a {
  border: 1px solid var(--black);
  border-radius: 0;
  display: block;
}

.LinkList a:first-child {
  border: 1px solid var(--black);
  /* color: aqua; */
  border-radius: 1rem 1rem 0 0;
}

.LinkList a:last-child {
  border-radius: 0 0 1rem 1rem;
}
